.app-wrapper {
    margin: 0 auto;
    display: grid;
    max-width: 1440px;
    padding-right: 39px;
    grid-template-areas:
"header header header"
"nav content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: header;
    background-color: darkgreen;
}

.header>img {
    width: 45px;
}

.nav {
    grid-area: nav;
    background-color: aqua;
}

.content {
    grid-area: content;
    background-color: bisque;
}

.content>.bg-img {
    margin: 0 auto;
}